include *.txt
include LICENSE
recursive-include open3d_sphinx_theme *.conf
recursive-include open3d_sphinx_theme *.css
recursive-include open3d_sphinx_theme *.eot
recursive-include open3d_sphinx_theme *.html
recursive-include open3d_sphinx_theme *.js
recursive-include open3d_sphinx_theme *.svg
recursive-include open3d_sphinx_theme *.ttf
recursive-include open3d_sphinx_theme *.woff
recursive-include open3d_sphinx_theme *.woff2
recursive-include tests *.py
recursive-include tests *.rst
